# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
bin/
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-store/
package.json

# TypeScript
*.tsbuildinfo

# 环境变量
.env
.env.*
!.env.example

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/settings.json
*.swp
*.swo

# Logs
*.log

# config
config/settings.local.jsonc

# tmp
wsf-file-manifest.json
